<!DOCTYPE html>
<html ng-app="app2" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Complete AWS IAM Reference</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IAM</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reference <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/reference/index.html">Complete</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/reference/autoscaling.html">Auto Scaling</a></li>
                <li><a href="/reference/cloudformation.html">CloudFormation</a></li>
                <li><a href="/reference/cloudfront.html">CloudFront</a></li>
                <li><a href="/reference/cloudwatch.html">CloudWatch</a></li>
                <li><a href="/reference/dynamodb.html">DynamoDB</a></li>
                <li><a href="/reference/ec2.html">EC2</a></li>
                <li><a href="/reference/elasticloadbalancing.html">ELB</a></li>
                <li><a href="/reference/glacier.html">Glacier</a></li>
                <li><a href="/reference/iam.html">IAM</a></li>
                <li><a href="/reference/rds.html">RDS</a></li>
                <li><a href="/reference/s3.html">S3</a></li>
                <li><a href="/reference/sns.html">SNS</a></li>
                <li><a href="/reference/sqs.html">SQS</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/reference/index.html">Complete</a></li>
              </ul>
            </li>
            <li class="active"><a href="/global-conditions.html">Global Conditions</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://cloudonaut.io/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=header" target="_blank">cloudonaut.io</a>
            </li>
            <li>
              <a href="https://widdix.net/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=header" target="_blank">widdix</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h1>AWS IAM Global Conditions</h1>

        <div class="table-responsive">
          <table class="table table-striped" ng-controller="ConditionsList" style="table-layout: fixed;">
            <thead>
              <tr>
                <th style="width: 25%;"><form style="display: inline;" class="form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Key</span><input type="text" ng-model="key" ng-model-options="{debounce: 250}" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form></th>
                <th style="width: 70%;"><form style="display: inline;" class="form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Description</span><input type="text" ng-model="description" ng-model-options="{debounce: 250}" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form></th>
                <th style="width: 5%;">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in rows | filter: search | orderBy: sort">
                <td>
                  <div class="scrollable">
                    {{row.key}}
                  </div>
                </td>
                <td>
                  <div class="scrollable">
                  {{row.description}}
                  </div>
                </td>
                <td>
                  <div class="btn-group">
                    <a href="{{row.doc}}" target="_blank" class="btn btn-primary btn-sm" title="open AWS documentation"><i class="glyphicon glyphicon-book"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">A <a href="https://cloudonaut.io/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=footer" target="_blank">cloudonaut.io</a> Project - Engineered by <a href="https://widdix.net/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=footer" target="_blank">widdix</a> - <a href="/about.html">About</a> - <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a> - Licensed Under  <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/LICENSE" target="_blank">CC BY-NC-SA 4.0</a></p>
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/app2.js"></script>
  </body>
</html>
