<div class="row">
  <h1>About</h1>

  <p>Creating IAM policies is hard. We collect information from the AWS Documentation to make writing IAM policies easier.</p>

  <p>Contributions are very welcome. <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Read our Contributing Guidline</a>.</p>

  <p>The <strong>Complete AWS IAM Reference</strong> is distributed under <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/LICENSE.md" target="_blank">CC BY-NC-SA 4.0</a>.</p>

  <p>Send us feedback to <a href="mailto:team@widdix.de">team@widdix.de</a>.</p>
</div>
