<p>Creating IAM policies is hard. We collect all available information from the AWS Documentation to make writing IAM policies easier.</p>

<p>Feel free to <a href="https://github.com/widdix/complete-aws-iam-reference" target="_blank">help us</a> by opening Pull-Requests / Issues on the underlying repository on Github.</p>

<p>The <strong>Complete AWS IAM Reference</strong> is distributed under <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/LICENSE.md" target="_blank">CC BY-NC-SA 4.0</a>.
