<div class="row">
  <h1>AWS IAM Global Conditions</h1>

  <div class="table-responsive">
    <table class="table table-striped" ng-controller="ConditionsList" style="table-layout: fixed;">
      <thead>
        <tr>
          <th style="width: 25%;"><form style="display: inline;" class="form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Key</span><input type="text" ng-model="key" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form></th>
          <th style="width: 70%;"><form style="display: inline;" class="form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Description</span><input type="text" ng-model="description" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form></th>
          <th style="width: 5%;">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rows | filter: search | orderBy: sort">
          <td>
            <div class="scrollable">
              {{row.key}}
            </div>
          </td>
          <td>
            <div class="scrollable">
            {{row.description}}
            </div>
          </td>
          <td>
            <div class="btn-group">
              <a href="{{row.doc}}" target="_blank" class="btn btn-primary btn-sm" title="open AWS documentation"><i class="glyphicon glyphicon-book"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
