<div class="row">
  <h1>Complete AWS IAM Reference</h1>

  <div class="table-responsive">
    <table class="table table-striped" ng-controller="List" style="table-layout: fixed;">
      <thead>
        <tr>
          <th style="width: 25%;">
            <form class="visible-lg-inline form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Action</span><input type="text" ng-model="action" ng-model-options="{debounce: 250}" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form>
            <form class="visible-md-inline visible-sm-inline visible-xs-inline form-inline"><input type="text" ng-model="action" ng-model-options="{debounce: 1000}" class="form-control input-sm" placeholder="Action"></form>
          </th>
          <th style="width: 25%;">
            <form class="visible-lg-inline form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Description</span><input type="text" ng-model="description" ng-model-options="{debounce: 250}" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form>
            <span class="visible-md-inline visible-sm-inline visible-xs-inline">Description</span>
          </th>
          <th style="width: 25%;">
            <form class="visible-lg-inline form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Resources</span><input type="text" ng-model="resource" ng-model-options="{debounce: 250}" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form>
            <span class="visible-md-inline visible-sm-inline visible-xs-inline">Resources</span>
          </th>
          <th style="width: 25%;">
            <form class="visible-lg-inline form-inline"><div class="form-group"><div class="input-group"><span class="input-group-addon">Conditions</span><input type="text" ng-model="condition" ng-model-options="{debounce: 250}" class="form-control input-sm" placeholder="Search"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div></div></form>
            <span class="visible-md-inline visible-sm-inline visible-xs-inline">Conditions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rows | filter: search | orderBy: sort">
          <td>
            <div class="scrollable">
              <a href="/reference/{{row.service}}/{{row.action}}.html">{{row.service}}:{{row.action}}</a>
            </div>
          </td>
          <td>
            <div class="scrollable">
            {{row.description}}
            </div>
          </td>
          <td>
            <div class="scrollable">
              <ul style="list-style-type: none; padding-left: 0;">
                <li ng-repeat="resource in row.resources">{{resource}}</li>
              </ul>
            </div>
          </td>
          <td>
            <div class="scrollable">
              <ul style="list-style-type: none; padding-left: 0;">
                <li ng-repeat="condition in row.conditions">{{condition}}</li>
                <li><a href="/global-conditions.html">Global Conditions</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
