      </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">A <a href="https://cloudonaut.io/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=footer" target="_blank">cloudonaut.io</a> Project - Engineered by <a href="https://widdix.net/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=footer" target="_blank">widdix</a> - <a href="/about.html">About</a> - <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a> - Licensed Under  <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/LICENSE" target="_blank">CC BY-NC-SA 4.0</a></p>
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app3.js"></script>
  </body>
</html>
