      </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">A <a href="https://cloudonaut.io" target="_blank">cloudonaut.io</a> Project - Engineered by <a href="https://widdix.net" target="_blank">widdix</a> - <a href="/about.html">About</a> - <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a> - Licensed Under  <a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/LICENSE" target="_blank">CC BY-NC-SA 4.0</a></p>
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app3.js"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
