<!DOCTYPE html>
<html ng-app="app3" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {{#title}}
    <title>{{title}} - Complete AWS IAM Reference</title>
    {{/title}}
    {{^title}}
    <title>Complete AWS IAM Reference</title>
    {{/title}}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IAM</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown" class="active">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reference <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/reference/index.html">Complete</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/reference/autoscaling.html">Auto Scaling</a></li>
                <li><a href="/reference/cloudformation.html">CloudFormation</a></li>
                <li><a href="/reference/cloudfront.html">CloudFront</a></li>
                <li><a href="/reference/cloudwatch.html">CloudWatch</a></li>
                <li><a href="/reference/dynamodb.html">DynamoDB</a></li>
                <li><a href="/reference/ec2.html">EC2</a></li>
                <li><a href="/reference/elasticloadbalancing.html">ELB</a></li>
                <li><a href="/reference/glacier.html">Glacier</a></li>
                <li><a href="/reference/iam.html">IAM</a></li>
                <li><a href="/reference/rds.html">RDS</a></li>
                <li><a href="/reference/s3.html">S3</a></li>
                <li><a href="/reference/sns.html">SNS</a></li>
                <li><a href="/reference/sqs.html">SQS</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/reference/index.html">Complete</a></li>
              </ul>
            </li>
            <li><a href="/global-conditions.html">Global Conditions</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://cloudonaut.io/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=header" target="_blank">cloudonaut.io</a>
            </li>
            <li>
              <a href="https://widdix.net/?utm_source=iam-cloudonaut-io&utm_medium=web&utm_campaign=header" target="_blank">widdix</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="alert alert-warning" role="alert">The official AWS documentation has greatly improved since the beginning of this project. <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_actions-resources-contextkeys.html" class="alert-link">Check it out</a>!</div>
