<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Complete AWS IAM Reference</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IAM</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown" class="active">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reference <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/reference/index.html">Complete</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/reference/autoscaling.html">Auto Scaling</a></li>
                <li><a href="/reference/cloudformation.html">CloudFormation</a></li>
                <li><a href="/reference/cloudfront.html">CloudFront</a></li>
                <li><a href="/reference/cloudwatch.html">CloudWatch</a></li>
                <li><a href="/reference/dynamodb.html">DynamoDB</a></li>
                <li><a href="/reference/ec2.html">EC2</a></li>
                <li><a href="/reference/elasticloadbalancing.html">ELB</a></li>
                <li><a href="/reference/glacier.html">Glacier</a></li>
                <li><a href="/reference/iam.html">IAM</a></li>
                <li><a href="/reference/rds.html">RDS</a></li>
                <li><a href="/reference/s3.html">S3</a></li>
                <li><a href="/reference/sns.html">SNS</a></li>
                <li><a href="/reference/sqs.html">SQS</a></li>
              </ul>
            </li>
            <li><a href="/global-conditions.html">Global Conditions</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="https://github.com/widdix/complete-aws-iam-reference/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-top: 14px;">
              <script type="text/javascript">
                reddit_title='Complete AWS IAM Reference'
                reddit_target='aws'
                reddit_url='https://iam.cloudonaut.io/'
              </script>
              <script type="text/javascript" src="https://www.redditstatic.com/button/button1.js"></script>
            </li>
            <li style="padding-top: 14px;">
              <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="Complete AWS IAM Reference" data-url="https://iam.cloudonaut.io" data-count="horizontal">Vote on Hacker News</a>
              <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
            </li>
            <li style="padding-top: 14px;">
              <div class="fb-share-button" data-href="https://iam.cloudonaut.io" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fiam.cloudonaut.io%2F&amp;src=sdkpreparse">Teilen</a></div>
            </li>
            <li style="padding-top: 14px;">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://iam.cloudonaut.io" data-text="Complete #AWS #IAM Reference" data-via="hellomichibye">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
              <a href="https://cloudonaut.io" target="_blank">A cloudonaut Project</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    