{{> header}}

<div class="row">
  <h1>Complete AWS IAM Reference</h1>
  <p>Creating IAM policies is hard. We collect information from the AWS Documentation to make writing IAM policies easier.</p>
  <ul>
    {{#services}}
    <li><a href="/reference/{{.}}.html">{{.}}</a></li>
    {{/services}}
  </ul>
  <p>Send us feedback to <a href="mailto:team@widdix.de">team@widdix.de</a>.</p>
</div>

{{> footer}}
