{{> header}}

<div class="row">
  <h1>Complete AWS IAM Reference</h1>
  <p>Creating IAM policies is hard. We collect information from the AWS Documentation to make writing IAM policies easier. Send us feedback: <a href="mailto:team@widdix.de">team@widdix.de</a>.</p>
  <h2>Services</h2>
  <ul>
    {{#services}}
    <li><a href="/reference/{{service}}.html">{{serviceName}} ({{service}})</a></li>
    {{/services}}
  </ul>
</div>

{{> footer}}
