{{> header}}

<div class="row">
  <ol class="breadcrumb">
    <li class="active">Complete AWS IAM Reference</li>
  </ol>

  <ul>
    {{#services}}
    <li><a href="/reference/{{.}}.html">{{.}}</a></li>
    {{/services}}
  </ul>
</div>

{{> footer}}
