<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> 
  <url>
    <loc>https://iam.cloudonaut.io/about.html</loc> 
  </url>
  <url>
    <loc>https://iam.cloudonaut.io/global-conditions.html</loc> 
  </url>
  <url>
    <loc>https://iam.cloudonaut.io/</loc> 
  </url>
  {{#services}}
  <url>
    <loc>https://iam.cloudonaut.io/reference/{{.}}.html</loc> 
  </url>
  {{/services}}
</urlset>
